<div class="category">
    <a href="/trending">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/trending.svg" alt="Trending Logo">
            <h5>Trending</h5>
        </div>
    </a>
    </a><a href="/viewCategory/Winter">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/winter.svg" alt="Winter Logo">
            <h5>Winter</h5>
        </div>
    </a>
    <a href="/viewCategory/Spring">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/spring.svg" alt="Spring Logo">
            <h5>Spring</h5>
        </div>
    </a>
    <a href="/viewCategory/Summer">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/summer.svg" alt="Summer Logo">
            <h5>Summer</h5>
        </div>
    </a>
    <a href="/viewCategory/Fall">
        <div class="boxCategory">
            <img class="logo-cat" src="/icons/fall.svg" alt="Fall Logo">
            <h5>Fall</h5>
        </div>
    </a>
</div>